TARGET_USERNAME=zero2sudo
ALERT_EMAIL=itsabdulmohamed101@gmail.com
GMAIL_APP_PASSWORD=YOUR_16_CHARACTER_GOOGLE_APP_PASSWORD
INSTAGRAM_STORAGE_STATE_B64=PASTE_OUTPUT_FROM_EXPORT_SESSION_SCRIPT
DATA_DIR=/data
